
* {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-style: italic;
}
body {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh
}
#scoreboard {
    background-color:rgb(195, 227, 255);
    display:flex;
    flex-direction: column;
    padding: 10px 60px;
    border-radius: 6px;
}
#buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
button {
    border-radius: 6px;
    background-color:rgb(195, 227, 255);
    color:black;
    font-size: 28px;
    border:none;
    box-shadow: 0px 2px 3px rgb(6, 47, 84);
    padding: 15px 22px;
    margin: 16px;
}
button:hover {
    transition: 0.3s;
    box-shadow: none;
}
button:active {
    box-shadow: 0px 0px 10px 5px rgb(0, 136, 255);
}
